/* Sintaxis 
selector {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;

} */

/* SELECTOR TAG NAME  (NOMBRE DE LA ETIQUETA H1, H2) */
/* H1, H2 {
    display: inline;
}
h4 {
    font-weight: lighter;
} */

/* Selector id  */
/* #parrafo {
    background-color: green;
}
div {
    background-color: red;
} */
/* Selector de clase  */

/* .container {
    background-color: blueviolet;

}

ul * {
    font-size: 40px;
}
li > ul > * {
    font-size: 20px;
}
 */

/* Selector universal */
/* *{
    font-size: 70px;
}
html{
    font-size: 50px;
} */
/* Para generar variables 
:root {
    --width: 20px;

    Para llamarla 
    var(--width: 20px)
}
*/

.contenedor{
    height: 400px;
    background-color: red;
}