/* Sintaxis 
selector {
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;

} */

/* SELECTOR TAG NAME  (NOMBRE DE LA ETIQUETA H1, H2) */
/* H1, H2 {
    display: inline;
}
h4 {
    font-weight: lighter;
} */

/* Selector id  */
/* #parrafo {
    background-color: green;
}
div {
    background-color: red;
} */
/* Selector de clase  */

/* .container {
    background-color: blueviolet;

}

ul * {
    font-size: 40px;
}
li > ul > * {
    font-size: 20px;
}
 */

/* Selector universal */
/* *{
    font-size: 70px;
}
html{
    font-size: 50px;
} */
/* Para generar variables 
:root {
    --width: 20px;

    Para llamarla 
    var(--width: 20px)
}
*/



#container {
    width: 600px;
    height:600px;
    display: grid;
   
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 
    'imagenuno . . . '
    '. imagendos . imagentres'
    ' .  . imagencuatro .';
    background-color: black;
    border: 2px solid black;
}

.size 
{
    width: 100%;
    height: 100%;
}
.imagenuno{
    grid-area: imagenuno;
  
}
.imagendos{
    grid-area: imagendos;
  
}
.imagentres{
    grid-area: imagentres;
   
}
.imagencuatro{
    grid-area: imagencuatro;
   
   
}

